
<div class="container">
    <table style="width: 100%;">
        <tr>
            <th>Abhijeet Burman</th>
            <th>Anitha Gowda</th>
            <th>Ankit Kumar</th>
            <th>Anurag Raghuwanshi</th>
            <th>Atul Chopde</th>
        </tr>
        <tr>
            <td>Software Engineer 2</td>
            <td>Software Engineer 2</td>
            <td>HCL Software Engineer</td>
            <td>Software Engineer 1</td>
            <td>HCL Software Engineer</td>
        </tr>
    </table>
   
</div>
<router-outlet></router-outlet>

